	<p>$$\begin{align}
	x& = \frac{2}{3} \frac{(\cos u \cos2v + \sqrt2 \sin u \cos v) \cos u}{\sqrt2 - \sin2u\sin3v}&
	u \in [0,\pi)\\
	y& = \frac{2}{3} \frac{(\cos u \sin2v - \sqrt2 \sin u \sin v) \cos u}{\sqrt2 - \sin2u\sin3v}&
	v \in [0,\pi)\\
	z& = \frac{\sqrt2\cos^2 u}{\sqrt2 - \sin2u \sin3v}
	\end{align}$$</p>
    <figure id="fig1"></figure>
    