<p>$$\begin{align}
x& = \frac{-\cos u}{\sqrt2 + \sin v}&
u \in [-\pi,\pi)\\
y& = \frac{\sin u}{\sqrt2 + \sin v}&
v \in [-\pi,\pi)\\
z& = \frac{1}{\sqrt2 + \cos v}
\end{align}$$</p>
<figure id="fig1"></figure>
