	<p>The supertoroid (or supertorus/superdonut) is based on the 
		<a href="torus">torus</a> but raises the sin and cosine components
		to powers. It was first described and named by Alan Barr in 1994.</p>
	<p>$$\begin{align}
	x& = \cos^{\alpha} u \:(R + r\cos^{\beta} v)&	u \in& [-\pi,\pi)\\
	y& = \sin^{\alpha} u \:(R + r\cos^{\beta} v)&	v \in& [-\pi,\pi)\\
	z& = R\sin^{\beta} v                        & \alpha,\beta \in& [0.1,4)\\
	\end{align}$$</p>
    <figure id="fig1"></figure>