.ui-widget {
}

.ui-widget-content {
}

.ui-slider {
    background: hsl(0,0%,60%);
    background: #444;
    position: relative;
    margin: .7em;
    text-align:left;
}

.ui-slider-horizontal {
    height: .3em;
}

.ui-slider-handle {
    position: absolute;
    z-index: 2;
    border: 1px solid #999999;
    border-radius: .3em;
}

.ui-slider-range {
    background: hsl(281,0%,40%);
    position: absolute;
    z-index: 1;
}
.ui-slider-horizontal .ui-slider-range {
    height: .3em;
}

.ui-slider-horizontal .ui-slider-handle {
    height: 1.1em;
    width: 0.4em;
    top: -0.5em;
    margin-left: -0.2em;
}

.ui-state-default {
    background: #334;
}
.ui-state-active {
    background: #444;
}
.ui-state-highlight {
    background: #444;
}

.ui-state-focus {
    background: #444; /* #fe57a1;*/
}
.ui-state-hover {
    background: #444; /* #fe57a1;*/
    color: #fff;
}

td.math {
    padding: .1em;
    white-space: nowrap; 
}

.ui-helper-hidden { display:none; }
.ui-helper-hidden-accessible {
  position:absolute !important;
  clip:rect(1px 1px 1px 1px);
}

.ui-button {
    display: block;
    margin: .2em;
    padding: .2em;
    border: 1px solid #999999;
    border-radius: .3em;
    text-align: center;
    font-size: 95%;
}

.yellow .ui-slider-range {
    background: hsl(160,50%,60%);
}
.yellow .ui-slider-handle {
    background: hsl(160,100%,25%);
}

.green .ui-slider-range {
    background: hsl(89,50%,60%);
}
.green .ui-slider-handle {
    background: hsl(89,100%,25%);
}

.violet .ui-slider-range {
    background: hsl(281,50%,60%);
}
.violet .ui-slider-handle {
    background: hsl(281,75%,45%);
}
