/*@import url(http://fonts.googleapis.com/css?family=Terminal+Dosis:400,200,700);
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,300italic,500italic,500);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic);*/
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab&subset=latin,greek);

@import url(normalize.css);
@import url(hilite.css);


#container {
  width: 65em;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  background: #bfbfbf; 
  background: #334; }

#sidenav {
  width: 13em;
  position: fixed;
  /*--Fix the sidenav to stay in one spot--*/
  float: left;
  /*--Keeps sidenav into place when Fixed positioning fails--*/
  padding: 1em;
  background: #bfbfbf;
  background: #334; }

#content {
  float: right;
  /*--Keeps content to the right side--*/
  width: 48em;
  padding: 1em;
  background: #FFF;
  background: #334; }

pre code {
  display: block;
  padding: 0.5em;
  color: #666666;
  color: #AAA; }


body {
  -font-family: 'Ubuntu', sans-serif;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 86%;
  -font-weight: 300;
  -font-family: Verdana, sans-serif;
  -font-weight: normal;
  -background: #333333 url(/static/img/hilbert.png);
  -background-attachment: fixed;
  background: #334;
  color: #666666;
  color: #BBB; }

th, b {
  font-weight: 500; }

a, a:visited {
  color: #528AE5;
  color: #FFF;
  text-decoration: none; }

a:hover {
  text-decoration: underline; 
  color: #FFF;
}

p {
  text-align: justify; }

p, li {
  line-height: 1.5em; 
  line-height: 1.6em;
  -font-size: 1.2em;
 }

pre, tt, code {
  font: 1em/1.2em "Ubuntu Mono", sans-serif;
  font-size: 105%; }

header {
  margin: 0 0 1em 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  -font-family: 'Terminal Dosis', sans-serif;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: .15em;
  text-transform: uppercase;
  -font-variant: small-caps;
  margin: 2em 0 1em 0;
  color: #666666;
  color: #FCA;
  color: #8CF; }

h1, h2, h3 {
  -border-top: solid 1px #999999;
  -padding-top: .2em;
  clear: both; }

h2 {font-size: 1.3em; margin-top: 2em; }
h3 {font-size: 1.1em; margin-top: 3em; }

nav.crumbs {
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: solid 1px #999999;
  padding-bottom: .2em;
}  
  
#sidenav h2 {
  -border-top: solid 1px #999999;
  padding-top: .2em;
  margin: 2em 0 1em 0;
}

#sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#sidenav li {
  margin-bottom: 0.75em;
  line-height: 1.25em;
}

#content p.foot {
  margin-top: 4em;
  border-top: solid 1px #999999;
  padding-top: .2em;
  font-size: 70%;
  text-align: left;
}

header h1 {
  font-size: 2em;
  margin: 1em 0 1em 0; }

p.note {
  font-size: 0.9em; }

table {
  padding: 0; }

td {
  -padding: 0 6px; }

img.icon {
  width: 5em;
  height: 5em; }

.display td, .display th {
  padding: 0.1em 0.5em;
  text-align: center;
  vertical-align: middle; }

.centre {
  margin-left: auto;
  margin-right: auto; }

.left {
  float: left;
  margin: 0 1em 1em 0;
  position-z-index: 2; }

.right {
  float: right;
  margin: 0 0 1em 1em;
  position-z-index: 2; }

.clear {
  clear: both; }

.indent {
  margin-left: 2em;
  margin-right: 2em; }

p.maths {
  margin-left: 1.6em;
  margin-right: 2em; }

figure {
  padding: 4px;
  -border: dashed 1px #999999;
  -background: #f2f2f2; 
}

figcaption {
  font-style: italic;
  text-align: center; }

pre code {
  -background: #f2f2f2; }

td pre {
  margin: 0; }

td.sym {
  text-align: right;
  padding: 0.1em; }

td.code {
  padding: 0.1em 0.5em 0.1em 0.2em; }

td.code pre, td.code code, pre.code, pre.code code {
  display: inline;
  padding: 0;
  -background: #f2f2f2; }

td.eqn {
  -border-left: 1px solid #888;
  -border-right: 1px solid #888;
  width: 50%;
  vertical-align: middle; }

td.src {
  width: 50%;
  vertical-align: middle; }

  
  
/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}
