/* "fallback" links for non-CSS supporting browsers. */
.fallback {
 display: none;
}

/* Here's our default note styles. */
.notedefault, .notenested {
 position: absolute;
 visibility: hidden;
 -top: 1.5em;
 -left: 2em;
 -width: 10em;
 z-index: 1000;
}
.notedefault {
 padding: 3px;
 border: 1px solid hsl(46,100%,20%);
 background-color: hsl(46,100%,50%);
 color: hsl(46,100%,20%);
}
.notenested {
 width: 8em;
 padding: 3px;
 border: 1px solid #963;
 background-color: #C96;
 color: white;
}

/* Some position-type-specific offset information. Tweak as needed! */
.snp-mouseoffset, .snp-triggeroffset, .snp-mousetrack {
 margin-left: 5px;
 margin-top: 15px;
}

/* Headings within notes */
.notedefault h1 {
 margin: 0 0 5px 0;
 padding: 0px;
 -background-color: hsl(46,75%,75%);
 color: hsl(46,100%,20%);
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 1em;
  border-bottom: 1px solid hsl(46,100%,20%);
}

/* Note close marker is only shown within pinned notes. */
.note-close {
 float: right;
 margin-top: 2px;
 width: 14px;
 height: 14px;
 line-height: 14px;
 color: black;
 text-decoration: none;
 visibility: hidden;
}
.snb-pinned .note-close {
 visibility: inherit;
}