<h2>3. Math symbols and math fonts</h2>
<h3>3.1. Classes of math symbols</h3>
<p>The symbols in a math formula fall into different classes that correspond more 
or less to the part of speech each symbol would have if the formula were expressed 
in words. Certain spacing and positioning cues are traditionally used for the 
different symbol classes to increase the readability of formulas.</p>
<table class="centre display">
    <tr>
        <th>Class number</th>
        <th>Mnemonic</th>
        <th>Description (part of speech)</th>
        <th>Examples</th>
    </tr>
    <tr><td>0</td><td>Ord</td><td>simple/ordinary ("noun")</td><td>\(A\:0\:\Phi\:\infty\)</td></tr>
    <tr><td>1</td><td>Op</td><td>prefix operator</td><td>\(\sum \prod \int\)</td></tr>
    <tr><td>2</td><td>Bin</td><td>binary operator (conjunction)</td><td>\(+ \cup \wedge\)</td></tr>
    <tr><td>3</td><td>Rel</td><td>relation/comparison (verb)</td><td>\(=\:&lt;\:\subset\)</td></tr>
    <tr><td>4</td><td>Open</td><td>left/opening delimiter</td><td>\((\:[\:\{\:\langle\)</td></tr>
    <tr><td>5</td><td>Close</td><td>right/closing delimiter</td><td>\()\:]\:\}\:\rangle\)</td></tr>
    <tr><td>6</td><td>Pun</td><td>postfix/punctuation</td><td>\(.\:,\:;\:!\)</td></tr>
</table>

<p class="note">Note 1. The distinction in \(\TeX\) between class 0 and an additional class 7 
has to do only with font selection issues and is immaterial here.</p>
<p class="note">Note 2. Symbols of class Bin, notably the minus sign \(-\), are automatically 
coerced to class 0 (no space) if they do not have a suitable left operand.</p>
<p>The spacing for a few symbols follows tradition instead of the general rule: 
although \(/\) is (semantically speaking) of class 2, we write \(k/2\) with no 
space around the slash rather than \(k\;/\;2\). And compare <tex>p|q </tex> 
\(p|q\) (no space) with <tex>p\mid q </tex> \(p\mid q\) (class-3 spacing).</p>

<h3>3.2. Some symbols intentionally omitted here</h3>
<p>The following math symbols are intentionally omitted from this discussion 
because they are superseded by equivalent symbols.</p>
<table class="centre">
    <tr><td style="text-align: right"><tex>\Box</tex>,</td><td>see <tex>\square</tex> \(\square\)</td></tr>
    <tr><td style="text-align: right"><tex>\Diamond</tex>,</td><td>see <tex>\lozenge</tex> \(\lozenge\)</td></tr>
    <tr><td style="text-align: right"><tex>\leadsto</tex>,</td><td>see <tex>\rightsquigarrow</tex> \(\rightsquigarrow\)</td></tr>
    <tr><td style="text-align: right"><tex>\Join</tex>,</td><td>see <tex>\bowtie</tex> \(\bowtie\)</td></tr>
    <tr><td style="text-align: right"><tex>\lhd</tex>,</td><td>see <tex>\vartriangleleft</tex> \(\vartriangleleft\)</td></tr>
    <tr><td style="text-align: right"><tex>\unlhd</tex>,</td><td>see <tex>\trianglelefteq</tex> \(\trianglelefteq\)</td></tr>
    <tr><td style="text-align: right"><tex>\rhd</tex>,</td><td>see <tex>\vartriangleright</tex> \(\vartriangleright\)</td></tr>
    <tr><td style="text-align: right"><tex>\unrhd</tex>,</td><td>see <tex>\trianglerighteq</tex> \(\trianglerighteq\)</td></tr>
</table>

<h3>3.3. Latin letters and Arabic numerals</h3>
<p>The Latin letters are simple symbols, class 0. The default font for them in 
math formulas is italic.</p>
\[A\:B\:C\:D\:E\:F\:G\:H\:I\:J\:K\:L\:M\:N\:O\:P\:Q\:R\:S\:T\:U\:V\:W\:X\:Y\:Z\]
\[a\:b\:c\:d\:e\:f\:g\:h\:i\:j\:k\:l\:m\:n\:o\:p\:q\:r\:s\:t\:u\:v\:w\:x\:y\:z\]
<p>When adding an accent to an i or j in math, dotless variants can be obtained 
with <tex>\imath</tex> and <tex>\jmath</tex>:</p>
<div class="syms">
\imath _ \jmath _ \hat{\jmath}
</div>
<p>Arabic numerals 0-9 are also of class 0. Their default font is upright/roman.</p>
\[0\:1\:2\:3\:4\:5\:6\:7\:8\:9\]

<h3>3.4. Greek letters</h3>
<p>Like the Latin letters, the Greek letters are simple symbols, class 0. For 
obscure historical reasons, the default font for lowercase Greek letters in math 
formulas is italic while the default font for capital Greek letters is upright/roman. 
(In other fields such as physics and chemistry, however, the typographical traditions 
are somewhat different.) The capital Greek letters not present in this list are the 
letters that have the same appearance as some Latin letter: A for Alpha, B for Beta, 
and so on. In the list of lowercase letters there is no omicron because it would 
be identical in appearance to Latin o. In practice, the Greek letters that have 
Latin look-alikes are seldom used in math formulas, to avoid confusion.</p>
<div class="syms">
\Gamma      \alpha      \xi         \digamma        
\Delta      \beta       \pi         \varepsilon     
\Lambda     \gamma      \rho        \varkappa       
\Phi        \delta      \sigma      \varphi         
\Pi         \epsilon    \tau        \varpi          
\Psi        \zeta       \upsilon    \varrho         
\Sigma      \eta        \phi        \varsigma       
\Theta      \theta      \chi        \vartheta       
\Upsilon    \iota       \psi                        
\Xi         \kappa      \omega                      
\Omega      \lambda                                 
_           \mu                                     
_           \nu                                     
</div>

<h3>3.5. Other alphabetic symbols</h3>
<p>These are also class 0.</p>
<div class="syms">
\aleph  \complement \hslash     \circledS   \Im 
\beth   \ell        \mho        \Bbbk       \Re 
\daleth \eth        \partial    \Finv           
\gimel  \hbar       \wp         \Game           
</div>

<h3>3.6. Miscellaneous simple symbols</h3>
<p>These symbols are also of class 0 (ordinary) which means they do not have any 
built-in spacing.</p>
<div class="syms">
\#                  \clubsuit       \lozenge        \square       
\&                  \diagdown       \measuredangle  \surd         
\angle              \diagup         \nabla          \top          
\backprime          \diamondsuit    \natural        \triangle     
\bigstar            \emptyset       \neg            \triangledown 
\blacklozenge       \exists         \nexists        \varnothing   
\blacksquare        \flat           \prime                        
\blacktriangle      \forall         \sharp                        
\blacktriangledown  \heartsuit      \spadesuit                    
\bot                \infty          \sphericalangle               
</div>
<p class="note">Note 1. A common mistake in the use of the symbols \(\square\) 
and \(\#\) is to try to make them serve as binary operators or relation symbols 
without using a properly defined math symbol command. If you merely use the 
existing commands <tex>\square</tex> or <tex>\#</tex> the inter-symbol 
spacing will be incorrect because those commands produce a class-0 symbol.</p>
<p class="note">Note 2. Synonyms: \(\neg\) <tex>\lnot</tex></p>

<h3>3.7. Binary operator symbols</h3>
<div class="syms">
*                   \cdot           \doublebarwedge     \smallsetminus
+                   \centerdot      \gtrdot             \sqcap        
-                   \circ           \intercal           \sqcup        
\amalg              \circledast     \leftthreetimes     \star         
\ast                \circledcirc    \lessdot            \times        
\barwedge           \circleddash    \ltimes             \triangleleft 
\bigcirc            \cup            \mp                 \triangleright
\bigtriangledown    \Cup            \odot               \uplus        
\bigtriangleup      \curlyvee       \ominus             \vee          
\boxdot             \curlywedge     \oplus              \veebar       
\boxminus           \dagger         \oslash             \wedge        
\boxplus            \ddagger        \otimes             \wr           
\boxtimes           \diamond        \pm                               
\bullet             \div            \rightthreetimes                  
\cap                \divideontimes  \rtimes                           
\Cap                \dotplus        \setminus                         
</div>
<p class="note">Synonyms: \(\land\) <tex>\land</tex>, \(\lor\) <tex>\lor</tex>, 
\(\doublecup\) <tex>\doublecup</tex>, \(\doublecap\) <tex>\doublecap</tex></p>

<h3>3.8. Relation symbols: \(<\:=\:>\:\succ\:\sim\) and variants</h3>
<div class="syms">
<               \eqslantless        \leqq           \ngtr           \sim
=               \equiv              \leqslant       \nleq           \simeq
>               \fallingdotseq      \lessapprox     \nleqq          \succ
\approx         \geq                \lesseqgtr      \nleqslant      \succapprox
\approxeq       \geqq               \lesseqqgtr     \nless          \succcurlyeq
\asymp          \geqslant           \lessgtr        \nprec          \succeq
\backsim        \gg                 \lesssim        \npreceq        \succnapprox
\backsimeq      \ggg                \ll             \nsim           \succneqq
\bumpeq         \gnapprox           \lll            \nsucc          \succnsim
\Bumpeq         \gneq               \lnapprox       \nsucceq        \succsim
\circeq         \gneqq              \lneq           \prec           \thickapprox
\cong           \gnsim              \lneqq          \precapprox     \thicksim
\curlyeqprec    \gtrapprox          \lnsim          \preccurlyeq    \triangleq
\curlyeqsucc    \gtreqless          \lvertneqq      \preceq
\doteq          \gtreqqless         \ncong          \precnapprox
\doteqdot       \gtrless            \neq            \precneqq
\eqcirc         \gtrsim             \ngeq           \precnsim
\eqsim          \gvertneqq          \ngeqq          \precsim
\eqslantgtr     \leq                \ngeqslant      \risingdotseq
</div>
<p class="note">Synonyms:
\(\ne\) <tex>\ne</tex>,
\(\le\) <tex>\le</tex>,
\(\ge\) <tex>\ge</tex>,
\(\Doteq\) <tex>\Doteq</tex>,
\(\llless\) <tex>\llless</tex>,
\(\gggtr\) <tex>\gggtr</tex></p>

<h3>3.9. Relation symbols: arrows</h3>
<p>See also Section 4.</p>
<div class="syms">
\circlearrowleft        \Lleftarrow             \nwarrow
\circlearrowright       \longleftarrow          \rightarrow
\curvearrowleft         \Longleftarrow          \Rightarrow
\curvearrowright        \longleftrightarrow     \rightarrowtail
\downdownarrows         \Longleftrightarrow     \rightharpoondown
\downharpoonleft        \longmapsto             \rightharpoonup
\downharpoonright       \longrightarrow         \rightleftarrows
\hookleftarrow          \Longrightarrow         \rightleftharpoons
\hookrightarrow         \looparrowleft          \rightrightarrows
\leftarrow              \looparrowright         \rightsquigarrow
\Leftarrow              \Lsh                    \Rrightarrow
\leftarrowtail          \mapsto                 \Rsh
\leftharpoondown        \multimap               \searrow
\leftharpoonup          \nLeftarrow             \swarrow
\leftleftarrows         \nLeftrightarrow        \twoheadleftarrow
\leftrightarrow         \nRightarrow            \twoheadrightarrow
\Leftrightarrow         \nearrow                \upharpoonleft
\leftrightarrows        \nleftarrow             \upharpoonright
\leftrightharpoons      \nleftrightarrow        \upuparrows
\leftrightsquigarrow    \nrightarrow
</div>
<p class="note">Synonyms:
\(\gets\) <tex>\gets</tex>,
\(\to\) <tex>\to</tex>,
\(\restriction\) <tex>\restriction</tex></p>

<h3>3.10. Relation symbols: miscellaneous</h3>
<div class="syms">
\backepsilon        \nsubseteqq         \smallsmile     \therefore
\because            \nsupseteq          \smile          \trianglelefteq
\between            \nsupseteqq         \sqsubset       \trianglerighteq
\blacktriangleleft  \ntriangleleft      \sqsubseteq     \varpropto
\blacktriangleright \ntrianglelefteq    \sqsupset       \varsubsetneq
\bowtie             \ntriangleright     \sqsupseteq     \varsubsetneqq
\dashv              \ntrianglerighteq   \subset         \varsupsetneq
\frown              \nvdash             \Subset         \varsupsetneqq
\in                 \nVdash             \subseteq       \vartriangle
\mid                \nvDash             \subseteqq      \vartriangleleft
\models             \nVDash             \subsetneq      \vartriangleright
\ni                 \parallel           \subsetneqq     \vdash
\nmid               \perp               \supset         \Vdash
\notin              \pitchfork          \Supset         \vDash
\nparallel          \propto             \supseteq       \Vvdash
\nshortmid          \shortmid           \supseteqq
\nshortparallel     \shortparallel      \supsetneq
\nsubseteq          \smallfrown         \supsetneqq
</div>
<p class="note">Synonyms:
\(\owns\) <tex>\owns</tex></p>

<h3>3.11. Cumulative (variable-size) operators</h3>
<div class="syms">
\int        \bigodot        \biguplus       \prod
\oint       \bigoplus       \bigvee         \smallint
\bigcap     \bigotimes      \bigwedge       \sum
\bigcup     \bigsqcup       \coprod
</div>

<h3>3.12. Punctuation</h3>
<div class="syms">
.        _   ;        _  ?        _  \dotsm
/        _   \colon   _  \dotsb   _  \dotso
|        _   :        _  \dotsc   _  \ddots
,        _   !        _  \dotsi   _  \vdots
</div>
<p class="note">Note 1. The <tex>:</tex> by itself produces a colon with class-3 
(relation) spacing. The command <tex>\colon</tex> produces special spacing for 
use in constructions such as <tex>f\colon A\to B </tex> \(f\colon A\to B\).</p>
<p class="note">Note 2. Although the commands <tex>\cdots</tex> and 
<tex>\ldots</tex> are frequently used, we recommend the more semantically oriented 
commands <tex>\dotsb</tex> <tex>\dotsc</tex> <tex>\dotsi</tex> <tex>\dotsm</tex>
<tex>\dotso</tex> for most purposes (see 4.6).</p>

<h3>3.13. Pairing delimiters (extensible)</h3>
<div class="syms">
( )              _   \lVert \rVert      _     \lgroup \rgroup
[ ]              _   \langle \rangle    _     \lmoustache \rmoustache
\lbrace \rbrace  _   \lceil \rceil
\lvert \rvert    _   \lfloor \rfloor
</div>

<h3>3.14. Nonpairing extensible symbols</h3>
<div class="syms">
\vert _ \arrowvert _ \backslash
\Vert _ \Arrowvert _ \bracevert
</div>
<p class="note">Note 1. Using <tex>\vert</tex>, <tex>|</tex>, 
<tex>\Vert</tex>, or <tex>\|</tex> for paired delimiters is not recommended 
(see 6.2).</p>
<p class="note">Synonyms:
\(\|\) <tex>\|</tex></p>

<h3>3.14. Nonpairing extensible symbols</h3>
<div class="syms">
\uparrow _ \downarrow _ \updownarrow 
\Uparrow _ \Downarrow _ \Updownarrow
</div>

<h3>3.16. Accents</h3>
<div class="syms">
\acute{x}   \bar{x}     \vec{x}     \widetilde{xxx}
\grave{x}   \breve{x}   \dot{x}     \widehat{xxx}
\ddot{x}    \check{x}   \ddot{x}
\tilde{x}   \hat{x}     \dddot{x}
</div>

\(\DeclareMathOperator{\rank}{rank}\DeclareMathOperator{\esssup}{ess\,sup}\)
<h3>3.17. Named operators</h3>
<p>These operators are represented by a multiletter abbreviation.</p>
<div class="syms">
\arccos     \det        \liminf     \sinh
\arcsin     \dim        \limsup     \sup
\arctan     \exp        \ln         \tan
\arg        \gcd        \log        \tanh
\cos        \hom        \max        \varinjlim
\cosh       \inf        \min        \varprojlim
\cot        \injlim     \Pr         \varliminf
\coth       \ker        \projlim    \varlimsup
\csc        \lg         \sec
\deg        \lim        \sin
</div>
<p>To define additional named operators outside the above list, use the 
<tex>\DeclareMathOperator</tex> command; for example, after</p>
<pre><code>\DeclareMathOperator{\rank}{rank}
\DeclareMathOperator{\esssup}{ess\,sup}</code></pre>
<p>one could write</p>
<div class="syms">
\rank(x)
\esssup(y,z)
</div>
<p>The star form <tex>\DeclareMathOperator*</tex> creates an operator that 
takes limits in a displayed formula like <tex>sup</tex> or <tex>max</tex>.</p>
<p>When predefining such a named operator is problematic (e.g., when using one 
in the title or abstract of an article), there is an alternative form that can 
be used directly:</p>
<div class="syms">
\operatorname{rank}(x)
</div>

<h3>3.18. Math font switches</h3>
<table class="centre display">
<tr>
    <th>default</th>
    <th><tex>\mathrm</tex></th>
    <th><tex>\mathbf</tex></th>
    <th><tex>\mathsf</tex></th>
    <th><tex>\mathit</tex></th>
    <th><tex>\mathcal</tex></th>
    <th><tex>\mathbb</tex></th>
    <th><tex>\mathfrak</tex></th>
    <th><tex>\mathscr</tex></th>
    <th><tex>\mathtt</tex></th>
</tr>
<tr>
    <td>\(X\)</td>
    <td>\(\mathrm X\)</td>
    <td>\(\mathbf X\)</td>
    <td>\(\mathsf X\)</td>
    <td>\(\mathit X\)</td>
    <td>\(\mathcal X\)</td>
    <td>\(\mathbb X\)</td>
    <td>\(\mathfrak X\)</td>
    <td>\(\mathscr X\)</td>
    <td>\(\mathtt X\)</td>
</tr>
<tr>
    <td>\(x\)</td>
    <td>\(\mathrm x\)</td>
    <td>\(\mathbf x\)</td>
    <td>\(\mathsf x\)</td>
    <td>\(\mathit x\)</td>
    <td>\(\mathcal x\)</td>
    <td>\(\mathbb x\)</td>
    <td>\(\mathfrak x\)</td>
    <td>\(\mathscr x\)</td>
    <td>\(\mathtt x\)</td>
</tr>
<tr>
    <td>\(0\)</td>
    <td>\(\mathrm 0\)</td>
    <td>\(\mathbf 0\)</td>
    <td>\(\mathsf 0\)</td>
    <td>\(\mathit 0\)</td>
    <td>\(\mathcal 0\)</td>
    <td>\(\mathbb 0\)</td>
    <td>\(\mathfrak 0\)</td>
    <td>\(\mathscr 0\)</td>
    <td>\(\mathtt 0\)</td>
</tr>
<tr>
<td>\(\)</td>
</tr>
</table>
<p>A common desire is to get a bold version of a particular math symbol. For 
those symbols where <tex>\mathbf</tex> is not applicable, the 
<tex>\boldsymbol</tex> or <tex>\pmb</tex> commands can be used</p>

<table style="width: 100%;" class="centre">
    <tr>
        <td class="src"><pre><code>A_\infty + \pi A_0
\sim \mathbf{A}_{\boldsymbol{\infty}} 
\boldsymbol{+} \boldsymbol{\pi} 
\mathbf{A}_{\boldsymbol{0}}
\sim\pmb{A}_{\pmb{\infty}} 
\pmb{+}\pmb{\pi} \pmb{A}_{\pmb{0}}</code></pre></td>
        <td class="eqn">\[
A_\infty + \pi A_0
\sim \mathbf{A}_{\boldsymbol{\infty}} 
\boldsymbol{+} \boldsymbol{\pi} 
\mathbf{A}_{\boldsymbol{0}}
\sim\pmb{A}_{\pmb{\infty}} 
\pmb{+}\pmb{\pi} \pmb{A}_{\pmb{0}}
        \]</td>
    </tr>
</table>
<p></p>
<p></p>

<h4>3.18.1. Calligraphic letters</h4>
\[\mathcal{A\:B\:C\:D\:E\:F\:G\:H\:I\:J\:K\:L\:M\:N\:O\:P\:Q\:R\:S\:T\:U\:V\:W\:X\:Y\:Z}\]
\[\mathcal{a\:b\:c\:d\:e\:f\:g\:h\:i\:j\:k\:l\:m\:n\:o\:p\:q\:r\:s\:t\:u\:v\:w\:x\:y\:z\quad 0\:1\:2\:3\:4\:5\:6\:7\:8\:9}\]

<h4>3.18.2. Blackboard Bold letters</h4>
\[\mathbb{A\:B\:C\:D\:E\:F\:G\:H\:I\:J\:K\:L\:M\:N\:O\:P\:Q\:R\:S\:T\:U\:V\:W\:X\:Y\:Z}\]
\[\mathbb{a\:b\:c\:d\:e\:f\:g\:h\:i\:j\:k\:l\:m\:n\:o\:p\:q\:r\:s\:t\:u\:v\:w\:x\:y\:z\quad 0\:1\:2\:3\:4\:5\:6\:7\:8\:9}\]

<h4>3.18.3. Fraktur letters</h4>
\[\mathfrak{A\:B\:C\:D\:E\:F\:G\:H\:I\:J\:K\:L\:M\:N\:O\:P\:Q\:R\:S\:T\:U\:V\:W\:X\:Y\:Z}\]
\[\mathfrak{a\:b\:c\:d\:e\:f\:g\:h\:i\:j\:k\:l\:m\:n\:o\:p\:q\:r\:s\:t\:u\:v\:w\:x\:y\:z\quad 0\:1\:2\:3\:4\:5\:6\:7\:8\:9}\]

<h4>3.18.4. Script letters</h4>
\[\mathscr{A\:B\:C\:D\:E\:F\:G\:H\:I\:J\:K\:L\:M\:N\:O\:P\:Q\:R\:S\:T\:U\:V\:W\:X\:Y\:Z}\]
\[\mathscr{a\:b\:c\:d\:e\:f\:g\:h\:i\:j\:k\:l\:m\:n\:o\:p\:q\:r\:s\:t\:u\:v\:w\:x\:y\:z\quad 0\:1\:2\:3\:4\:5\:6\:7\:8\:9}\]

<h4>3.18.5. Typewriter letters</h4>
\[\mathtt{A\:B\:C\:D\:E\:F\:G\:H\:I\:J\:K\:L\:M\:N\:O\:P\:Q\:R\:S\:T\:U\:V\:W\:X\:Y\:Z}\]
\[\mathtt{a\:b\:c\:d\:e\:f\:g\:h\:i\:j\:k\:l\:m\:n\:o\:p\:q\:r\:s\:t\:u\:v\:w\:x\:y\:z\quad 0\:1\:2\:3\:4\:5\:6\:7\:8\:9}\]

<h4>3.18.6. Sans serif letters</h4>
\[\mathsf{A\:B\:C\:D\:E\:F\:G\:H\:I\:J\:K\:L\:M\:N\:O\:P\:Q\:R\:S\:T\:U\:V\:W\:X\:Y\:Z}\]
\[\mathsf{a\:b\:c\:d\:e\:f\:g\:h\:i\:j\:k\:l\:m\:n\:o\:p\:q\:r\:s\:t\:u\:v\:w\:x\:y\:z\quad 0\:1\:2\:3\:4\:5\:6\:7\:8\:9}\]
