<h2>6. Delimiters</h2>

<h3>6.1. Delimiter sizes</h3>
<p>Unless you indicate otherwise, delimiters in math formulas will remain at the 
standard size regardless of the height of the enclosed material. To get larger
sizes, you can either select a particular size using a <tex>\big...</tex> preﬁx 
(see below), or you can use <tex>\left</tex> and <tex>\right</tex> preﬁxes for 
autosizing.</p>
<p>The automatic delimiter sizing done by <tex>\left</tex> and <tex>\right</tex> 
has two limitations: First, it is applied mechanically to produce delimiters 
large enough to encompass the largest contained item, and second, the range of 
sizes has fairly large quantum jumps. This means that an expression that is 
inﬁnitesimally too large for a given delimiter size will get the next larger 
size, a jump of 6pt or so (3pt top and bottom) in normal-sized text. There are
two or three situations where the delimiter size is commonly adjusted. These 
adjustments are done using the following commands:</p>
<table class="centre display">
    <tr>
        <th>Delimiter<br>size</th>  <td>text<br>size</td>  
        <td><tex>\left<br>\right</tex></td>  
        <td><tex>\bigl<br>\bigr</tex></td>
        <td><tex>\Bigl<br>\Bigr</tex></td>  
        <td><tex>\biggl<br>\biggr</tex></td>  
        <td><tex>\Biggl<br>\Biggr</tex></td>
    </tr>
    <tr>
        <th>Result</th>  <td>\((b)(\dfrac{c}{d})\)</td>   
        <td>\(\left(b\right)\left(\dfrac{c}{d}\right)\)</td> 
        <td>\(\bigl(b\bigr)\bigl(\dfrac{c}{d}\bigr)\)</td>   
        <td>\(\Bigl(b\Bigr)\Bigl(\dfrac{c}{d}\Bigr)\)</td>   
        <td>\(\biggl(b\biggr)\biggl(\dfrac{c}{d}\biggr)\)</td> 
        <td>\(\Biggl(b\Biggr)\Biggl(\dfrac{c}{d}\Biggr)\)</td> 
    </tr>
</table>
<p>The ﬁrst kind of adjustment is done for cumulative operators with limits, 
such as summation signs. With <tex>\left</tex> and <tex>\right</tex> the 
delimiters usually turn out larger than necessary, and using the <tex>\Big</tex> 
or <tex>\bigg</tex> sizes instead gives better results:</p>
<table style="width: 100%;" class="centre">
    <tr>
        <td class="src"><pre><code>\left[\sum_i a_i\left\lvert\sum_j x_{ij}\right\rvert^p\right]^{1/p}</code></pre></td>
        <td class="eqn">\[\left[\sum_i a_i\left\lvert\sum_j x_{ij}\right\rvert^p\right]^{1/p}\]</td>
    </tr>
    <tr>
        <td class="src"><pre><code>\biggl[\sum_i a_i\Bigl\lvert\sum_j x_{ij}\Bigr\rvert^p\biggr]^{1/p}</code></pre></td>
        <td class="eqn">\[\biggl[\sum_i a_i\Bigl\lvert\sum_j x_{ij}\Bigr\rvert^p\biggr]^{1/p}\]</td>
    </tr>
</table>
<p>The second kind of situation is clustered pairs of delimiters where 
<tex>\left</tex> and <tex>\right</tex> make them all the same size (because that 
is adequate to cover the encompassed material) but what you really want is to 
make some of the delimiters slightly larger to make the nesting easier to see.</p>
<table style="width: 100%;" class="centre">
    <tr>
        <td class="src"><pre><code>\left((a_1 b_1) - (a_2 b_2)\right)
\left((a_2 b_1) + (a_1 b_2)\right)</code></pre></td>
        <td class="eqn">\[\left((a_1 b_1) - (a_2 b_2)\right)
\left((a_2 b_1) + (a_1 b_2)\right)\]</td>
    </tr>
    <tr>
        <td class="src"><pre><code>\bigl((a_1 b_1) - (a_2 b_2)\bigr)
\bigl((a_2 b_1) + (a_1 b_2)\bigr)</code></pre></td>
        <td class="eqn">\[\bigl((a_1 b_1) - (a_2 b_2)\bigr)
\bigl((a_2 b_1) + (a_1 b_2)\bigr)\]</td>
    </tr>
</table>
<p>The third kind of situation is a slightly oversize object in running text, 
such as \(\left\lvert\frac{b'}{d'}\right\rvert\) where the delimiters produced 
by <tex>\left</tex> and <tex>\right</tex> cause too much line spreading. In that 
case <tex>\bigl</tex> and <tex>\bigr</tex> can be used to produce delimiters 
that are larger than the base size but still able to ﬁt within the normal line 
spacing: \(\bigl\lvert\frac{b'}{d'}\bigr\rvert\).</p>

<h3>6.2. Vertical bar notations</h3>
<p>The use of the <code>|</code> character to produce paired delimiters is not 
recommended. There is an ambiguity about the directionality of the symbol that 
will in rare cases produce incorrect spacing—e.g., <tex>|k|=|-k|</tex> produces 
\(|k|=|−k|\). Using <tex>\lvert</tex> for a “left vert bar” and <tex>\rvert</tex> 
for a “right vert bar” whenever they are used in pairs will prevent this problem: 
compare \(\lvert -k\rvert\), produced by <tex>\lvert -k\rvert</tex>. For double 
bars there are analogous <tex>\lVert</tex> and <tex>\rVert</tex> commands. 
Recommended practice is to deﬁne suitable commands in the document preamble for 
any paired-delimiter use of vert bar symbols:</p>
<table style="width: 100%;" class="centre">
    <tr>
        <td class="src"><pre><code>\newcommand{\abs}[1]{\lvert#1\rvert}
\newcommand{\norm}[1]{\lVert#1\rVert}</code></pre></td>
        <td class="eqn">\[\newcommand{\abs}[1]{\lvert#1\rvert}
\newcommand{\norm}[1]{\lVert#1\rVert}\]</td>
    </tr>
</table>
<p>whereupon <tex>\abs{z}</tex> would produce \(\abs{z}\) and 
<tex>\norm{v}</tex> would produce \(\norm{v}\).</p>
