<h2>8. Integrals and sums</h2>
<h3>8.1. Altering the placement of limits</h3>
<p>The limits on integrals, sums, and similar symbols are placed either to the 
side of or above and below the base symbol, depending on convention and context. 
MathJax has rules for automatically choosing one or the other, and most of the 
time the results are satisfactory. In the event they are not, there are three 
commands that can be used to inﬂuence the placement of the limits: 
<tex>\limits</tex>, <tex>\nolimits</tex>, <tex>\displaylimits</tex>. Compare</p>
<table style="width: 100%;" class="centre">
    <tr>
        <td class="src"><pre><code>\int_{\abs{x-x_z(t)}\lt X_0}
x^6(t)\phi(x)</code></pre></td>
        <td class="eqn">\[\newcommand{\abs}[1]{\lvert#1\rvert}
            \int_{\abs{x-x_z(t)}\lt X_0}x^6(t)\phi(x)\]</td>
    </tr>
    <tr>
        <td class="src"><pre><code>\int\limits_{\abs{x-x_z(t)}\lt X_0}
x^6(t)\phi(x)</code></pre></td>
        <td class="eqn">\[\int\limits_{\abs{x-x_z(t)}\lt X_0}x^6(t)\phi(x)\]</td>
    </tr>
</table>
<p>The <tex>\limits</tex> command should follow immediately after the base symbol 
to which it applies, and its meaning is: shift the following subscript and/or 
superscript to the limits position, regardless of the usual convention for this 
symbol. <tex>\nolimits</tex> means to shift them to the side instead, and 
<tex>\displaylimits</tex>, which might be used in deﬁning a new kind of base
symbol, means to use standard positioning as for the <tex>\sum</tex> command.</p>

<h3>8.2. Multiple integral signs</h3>
<p><tex>\iint</tex>, <tex>\iiint</tex>, and <tex>\iiiint</tex> give multiple 
integral signs with the spacing between them nicely adjusted, in both text and 
display style. <tex>\idotsint</tex> is an extension of the same idea that gives 
two integral signs with dots between them.</p>
<table style="width: 100%;" class="centre">
    <tr>
        <td class="src"><pre><code>\iint\limits_A f(x,y)\;dx\;dy</code></pre></td>
        <td class="eqn">\[\iint\limits_A f(x,y)\;dx\;dy\]</td>
    </tr>
    <tr>
        <td class="src"><pre><code>\iiint\limits_A f(x,y,z)\;dx\;dy\;dz</code></pre></td>
        <td class="eqn">\[\iiint\limits_A f(x,y,z)\;dx\;dy\;dz\]</td>
    </tr>
    <tr>
        <td class="src"><pre><code>\iiiint\limits_A f(w,x,y,z)\;dw\;dx\;dy\;dz</code></pre></td>
        <td class="eqn">\[\iiiint\limits_A f(w,x,y,z)\;dw\;dx\;dy\;dz\]</td>
    </tr>
    <tr>
        <td class="src"><pre><code>\idotsint\limits_A f(x_1,\dotsc,x_k)</code></pre></td>
        <td class="eqn">\[\idotsint\limits_A f(x_1,\dotsc,x_k)\]</td>
    </tr>
</table>

<h3>8.3. Multiline subscripts and superscripts</h3>
<p>The <tex>\substack</tex> command can be used to produce a multiline subscript 
or superscript: for example</p>
<table style="width: 100%;" class="centre">
    <tr>
        <td class="src"><pre><code>\sum_{\substack{
    0\le i\le m\\
    0\lt j\lt n}}
P(i,j)</code></pre></td>
        <td class="eqn">\[\sum_{\substack{
0\le i\le m\\
0\lt j\lt n}}
P(i,j)\]</td>
    </tr>
</table>

<h3>8.4. The \sideset command</h3>
<p>There’s also a command called <tex>\sideset</tex>, for a rather
special purpose: putting symbols at the subscript and superscript corners of a 
symbol like \(\sum\) or \(\prod\). <i>Note: The <tex>\sideset</tex> command is 
only designed for use with large operator symbols; with ordinary symbols the 
results are unreliable.</i> With <tex>\sideset</tex>, you can write</p>
<table style="width: 100%;" class="centre">
    <tr>
        <td class="src"><pre><code>\sideset{}{’}
  \sum_{n\lt k,\;\text{$n$ odd}} nE_n</code></pre></td>
        <td class="eqn">\[\sideset{}{’}
\sum_{n\lt k,\;\text{$n$ odd}} nE_n\]</td>
    </tr>
</table>
<p>The extra pair of empty braces is explained by the fact that <tex>\sideset</tex> 
has the capability of putting an extra symbol or symbols at each corner of a large 
operator; to put an asterisk at each corner of a product symbol, you would type</p>
<table style="width: 100%;" class="centre">
    <tr>
        <td class="src"><pre><code>\sideset{_*^*}{_*^*}\prod</code></pre></td>
        <td class="eqn">\[\sideset{_*^*}{_*^*}\prod\]</td>
    </tr>
</table>
