<h2>1. Introduction</h2>
<p>MathJax is an open source JavaScript display engine for mathematics that 
works in all modern browsers. It allows the author of a web page to use familiar
\(\LaTeX\) notations to descibe their maths. Here's a few famous equations 
to give you a taste:</p>

<table cellpadding="4" style="width: 100%;" class="centre">
    <tr>
        <td valign="middle">\[
            E = mc^2
        \]</td>
        <td><p>Probably the most famous of them all. <a href="http://en.wikipedia.org/wiki/Mass%E2%80%93energy_equivalence">Einstein's equation</a> relating 
        mass \(m\) and energy \(E\) via the speed of light \(c\). Since \(c^2\)
        is such a big number (about 90,000,000,000,000,000) even a tiny piece of 
        matter equates to a huge amount of energy.</p></td>
    </tr>
    <tr>
        <td>\[
            e^{i\pi}+1=0
        \]</td>
        <td><p>This <a href="http://en.wikipedia.org/wiki/Euler%27s_identity">astonishing 
        equation</a> connects five major constants of mathematics; \(e\), 
        Euler's Number, \(\pi\), the ratio of the circumference of a circle to 
        its diameter, \(i\), the square root of -1, 0, the additive identity and 
        1, the multiplicative identity.</p></td>
    </tr>
    <!--tr>
        <td>\[
            \frac{\mathrm d}{{\mathrm d}x} \int_a^x f(s)\,{\mathrm d}s = f(x)
        \]</td>
        <td><p>The Fundamental Theorem of Calculus expresses the fact that 
        differentiation and integration are inverse operations of each other.</p></td>
    </tr-->
    <tr>
        <td>\[
            e = \sum_{n=0}^\infty \frac{1}{n!}
        \]</td>
        <td><p><a href="http://en.wikipedia.org/wiki/E_%28mathematical_constant%29">Euler's 
        number</a> \(e\) defined as the sum of an infinite series.</p></td>
    </tr>
</table>

<p>This guide is derived from 
<a href="ftp://ftp.ams.org/pub/tex/doc/amsmath/short-math-guide.pdf">the one written by Michael 
Downes</a> of the American Mathematical Society. It has been edited slightly
to reflect the capababilities of the <a href="http://www.mathjax.org/">MathJax</a> 
JavaScript system for showing maths in web pages.</p>
