<h2>4. Notations</h2>
<h3>4.1. Top and bottom embellishments</h3>
<p>These are visually similar to accents but generally span multiple symbols 
rather than being applied to a single base symbol. For ease of reference, 
<tex>\widetilde</tex> and <tex>\widehat</tex> are redundantly included here and 
in the table of math accents.</p>
<div class="syms">
\widetilde{xxx}     \overbrace{xxx}         \overrightarrow{xxx}
\widehat{xxx}       \underbrace{xxx}        \underrightarrow{xxx}
\overline{xxx}      \overleftarrow{xxx}     \overleftrightarrow{xxx}
\underline{xxx}     \underleftarrow{xxx}    \underleftrightarrow{xxx}
</div>

<h3>4.2. Extensible arrows</h3>
<p><tex>\xleftarrow</tex> and <tex>\xrightarrow</tex> produce arrows that extend
automatically to accommodate unusually wide subscripts or superscripts. These 
commands take one optional argument (the subscript) and one mandatory argument 
(the superscript, possibly empty):</p>
<table style="width: 100%;" class="centre">
    <tr>
        <td class="src"><pre><code>A\:\xleftarrow{n+\mu-1}\:
B\:\xrightarrow[T]{n\pm i-1}\:C</code></pre></td>
        <td class="eqn">\[
            A\:\xleftarrow{n+\mu-1}\:B\:\xrightarrow[T]{n\pm i-1}\:C
        \]</td>
    </tr>
</table>

<h3>4.3. Affixing symbols to other symbols</h3>
<p>In addition to the standard accents (Section 3.16), other symbols can be 
placed above or below a base symbol with the <tex>\overset</tex> and <tex>\underset</tex>
commands. For example, writing <tex>\overset{*}{X}</tex> will place a superscript-size
* above the X, thus: \(\overset{*}{X}\). See also the description of <tex>\sideset</tex>
in Section 8.4.</p>

<h3>4.4. Matrices</h3>
<p>The environments <tex>pmatrix</tex>, <tex>bmatrix</tex>, <tex>Bmatrix</tex>, 
<tex>vmatrix</tex> and <tex>Vmatrix</tex> have (respectively) \((\:)\), \([\:]\), 
\(\{\:\}\), \(|\:|\), and \(\Vert\:\Vert\) delimiters built in. There is also a 
matrix environment sans delimiters, and an array environment that can be used to 
obtain left alignment or other variations in the column specs.</p>

<table style="width: 100%;" class="centre">
    <tr>
        <td class="src"><pre><code>\begin{pmatrix}
\alpha& \beta^{*}\\
\gamma^{*}& \delta
\end{pmatrix}</code></pre></td>
        <td class="eqn">\[
            \begin{pmatrix}
            \alpha& \beta^{*}\\
            \gamma^{*}& \delta
            \end{pmatrix}
        \]</td>
    </tr>
</table>

<p>To produce a small matrix suitable for use in text, there is a <tex>smallmatrix</tex>
environment (e.g., \(\bigl( \begin{smallmatrix} a&b\\ c&d \end{smallmatrix} \bigr)\)) 
that comes closer to fitting within a single text line than a normal matrix.
This example was produced by</p>
<pre><code>\bigl( \begin{smallmatrix}
a&b\\ c&d
\end{smallmatrix} \bigr)</code></pre>

<p>To produce a row of dots in a matrix spanning a given number of columns, use 
<tex>\hdotsfor</tex>. For example, <tex>\hdotsfor{3}</tex> in the second column 
of a four-column matrix will print a row of dots across the final three columns.</p>

<p>For piece-wise function definitions there is a <tex>cases</tex> environment:</p>

<table style="width: 100%;" class="centre">
    <tr>
        <td class="src"><pre><code>P_{r-j}=\begin{cases}
0& \text{if $r-j$ is odd},\\
r!\,(-1)^{(r-j)/2}& \text{if $r-j$ is even}.
\end{cases}</code></pre></td>
        <td class="eqn">\[
        P_{r-j}=\begin{cases}
        0& \text{if $r-j$ is odd},\\
        r!\,(-1)^{(r-j)/2}& \text{if $r-j$ is even}.
        \end{cases}
        \]</td>
    </tr>
</table>

<p>Notice the use of <tex>\text</tex> and the embedded math.</p>
<p class="note">Note. The plain \(\TeX\) form <tex>\matrix{...\cr...\cr}</tex> 
and the related commands <tex>\pmatrix</tex> and <tex>\cases</tex> are also 
available in MathJax.</p>

<h3>4.5. Math spacing commands</h3>
<table class="centre display">
    <tr>
        <th>Abbrev.</th>
        <th>Spelled out</th>
        <th>Example</th>
        <th></th>
        <th>Abbrev.</th>
        <th>Spelled out</th>
        <th>Example</th>
    </tr>
    <tr>
        <td></td>  <td>no space</td>  <td>\(34\)</td>
        <td></td>
        <td></td>  <td>no space</td>  <td>\(34\)</td>
    </tr>
    <tr>
        <td><tex>\,</tex></td>  <td><tex>\thinspace</tex></td>  <td>\(3\,4\)</td>
        <td></td>
        <td><tex>\!</tex></td>  <td><tex>\negthinspace</tex></td>  <td>\(3\!4\)</td>
    </tr>
    <tr>
        <td><tex>\:</tex></td>  <td><tex>\medspace</tex></td>  <td>\(3\:4\)</td>
        <td></td>
        <td><tex></tex></td>  <td><tex>\negmedspace</tex></td>  <td>\(3\negmedspace 4\)</td>
    </tr>
    <tr>
        <td><tex>\;</tex></td>  <td><tex>\thickspace</tex></td>  <td>\(3\;4\)</td>
        <td></td>
        <td><tex></tex></td>  <td><tex>\negthickspace</tex></td>  <td>\(3\negthickspace 4\)</td>
    </tr>
    <tr>
        <td><tex></tex></td>  <td><tex>\quad</tex></td>  <td>\(3\quad 4\)</td>
        <td></td>
        <td><tex></tex></td>  <td><tex></tex></td>  <td></td>
    </tr>
    <tr>
        <td><tex></tex></td>  <td><tex>\qquad</tex></td>  <td>\(3\qquad 4\)</td>
        <td></td>
        <td><tex></tex></td>  <td><tex></tex></td>  <td></td>
    </tr>
</table>
     
<p>For finer control over math spacing, use <tex>\mspace</tex> and ‘math units’. 
One math unit, or <tex>mu</tex>, is equal to 1/18 em. Thus to get a negative 
half <tex>\quad</tex> write <tex>\mspace{-9.0mu}</tex>.</p>
<p>There are also three commands that leave a space equal to the height and/or 
width of a given fragment:</p>
<table class="centre display">
    <tr>
        <th>Example</th>
        <th>Result</th>
    </tr>
    <tr>
        <td><tex>\phantom{XXX}</tex></td>
        <td>space as wide and high as three X’s</td>
    </tr>
    <tr>
        <td><tex>\hphantom{XXX}</tex></td>
        <td>space as wide as three X’s; height 0</td>
    </tr>
    <tr>
        <td><tex>\vphantom{X}</tex></td>
        <td>space of width 0, height = height of X</td>
    </tr>
</table>
       
<h3>4.6. Dots</h3>
<p>For preferred placement of ellipsis dots (raised or on-line) in various 
contexts there is no general consensus. It may therefore be considered a matter 
of taste. By using the semantically oriented commands</p>
<ul>
    <li><tex>\dotsc</tex> for “dots with commas”</li>
    <li><tex>\dotsb</tex> for “dots with binary operators/relations”</li>
    <li><tex>\dotsm</tex> for “multiplication dots”</li>
    <li><tex>\dotsi</tex> for “dots with integrals”</li>
    <li><tex>\dotso</tex> for “other dots” (none of the above) </li>
</ul>
<p>instead of <tex>\ldots</tex> and <tex>\cdots</tex>, you make it possible for 
your document to be adapted to different conventions on the fly, in case (for 
example) you have to submit it to a publisher who insists on following house 
tradition in this respect. The default treatment for the various kinds follows 
American Mathematical Society conventions:</p>
<table style="width: 100%;" class="centre">
    <tr>
        <td class="src"><pre><code>We have the series \(A_1,A_2,\dotsc\),
the regional sum \(A_1+A_2+\dotsb\),
the orthogonal product \(A_1A_2\dotsm\),
and the infinite integral
\[\int_{A_1}\int_{A_2}\dotsi\].</code></pre></td>
        <td class="eqn">We have the series \(A_1,A_2,\dotsc\),
the regional sum \(A_1+A_2+\dotsb\),
the orthogonal product \(A_1A_2\dotsm\),
and the infinite integral\[\int_{A_1}\int_{A_2}\dotsi\].</td>
    </tr>
</table>

<h3>4.8. Roots</h3>    
<p>The command <tex>\sqrt</tex> produces a square root. To specify an alternate 
radix give an optional argument.</p>
<table style="width: 100%;" class="centre">
    <tr>
        <td class="src"><pre><code>\sqrt{\frac{n}{n-1} S}</code></pre></td>
        <td class="eqn">\[\sqrt{\frac{n}{n-1} S}\]</td>
    </tr>
    <tr>
        <td class="src"><pre><code>\sqrt[3]{2}</code></pre></td>
        <td class="eqn">\[\sqrt[3]{2}\]</td>
    </tr>
</table>

<h3>4.9. Boxed formulas</h3>
<p>The command <tex>\boxed</tex> puts a box around its argument:</p>
<table style="width: 100%;" class="centre">
    <tr>
        <td class="src"><pre><code>\boxed{\eta \leq C(\delta(\eta) +\Lambda_M(0,\delta))}</code></pre></td>
        <td class="eqn">\[\boxed{\eta \leq C(\delta(\eta) +\Lambda_M(0,\delta))}\]</td>
    </tr>
</table>
