<p>A parametric surface is a 3-dimensional surface defined by a set of parametric 
equations with two parameters. These equations map points \((u,v)\) in some 
2-dimensional space \(D\) (the <i>domain</i>) to the position vectors of the
points on the 3-dimensional surface \(S\). This parametric representation can
be written:</p>
<p>$$\vec{r}(u,v) = x(u,v)\,\vec{i} + y(u,v)\,\vec{j} + z(u,v)\,\vec{k}$$</p>
<p>The vectors \(\vec{i}\), \(\vec{j}\) and \(\vec{k}\) are the 
<a href="https://en.wikipedia.org/wiki/Basis_%28linear_algebra%29">basis vectors</a> 
of the 3-dimensional space that the surface is embedded in. For Cartesian 
coordinates in the normal <a href="https://en.wikipedia.org/wiki/Euclidean_space">Euclidean 
space</a> \(\mathbb{R}^3\) these are the familiar X, Y and Z axes.</p>
<p>For example, the parametric representation of a cone is:</p>
<p>$$\vec{r}(u,v) = u\,\vec{i} + u\cos v\,\vec{j} + u\sin v\,\vec{k}$$</p>
<p>So the parametric equations are:</p>
<p>$$\begin{align}
x& = u\\
y& = u\cos v\\
z& = u\sin v
\end{align}$$</p>
<p>And the domain is:</p>
<p>$$\begin{align}
u& \in \mathbb{R}\\
v& \in \mathbb{R}, \; 0 \leq v \lt 2\pi
\end{align}$$</p>

<h2>See Also</h2>
<p><ul>
	<li><a href="http://jalape.no/math/surfaces">Tore Nordstrand's collection of
		algebraic and parametric surfaces</a></li>
	<li><a href="https://en.wikipedia.org/wiki/Parametric_surface">Wikipedia</a></li>
	<li><a href="http://tutorial.math.lamar.edu/Classes/CalcIII/ParametricSurfaces.aspx">Paul's 
		online math notes</a></li>
	<li><a href="http://nliautaud.fr/wiki/travaux/surfaces_mathematiques">Surfaces 
		mathématiques</a></li>
</ul></p>
