<div class="clear">
    <img class="clear left icon" src="/static/img/math-bourke.png" />
    <p><a href="http://paulbourke.net/">Paul Bourke</a>: The inspiration for my
    own web site. Paul has been adding stuff to his site since the 90s. Wonderful
    collection of articles on 2D and 3D maths as well as some source code for C
    and POV-Ray.</p>
</div>

<div class="clear">
    <img class="clear left icon" src="/static/img/math-bugman.png" />
    <p><a href="http://www.bugman123.com/index.html">Paul Nylander</a>: Lots of
    great images and animations, often with Mathmatica and POV-Ray code.</p>
</div>

<div class="clear">
    <img class="clear left icon" src="/static/img/math-miqel.png" />
    <p><a href="http://www.miqel.com/fractals_math_patterns/visual_math_varieties.html">Michael 
    Coleman</a>: An eclectic site full of interesting stuff.</p>
</div>

<div class="clear">
    <img class="left icon" src="/static/img/math-dim.png" />
    <p><a href="http://www.dimensions-math.org/Dim_E.htm">Dimensions</a>: A walk 
    through mathematics. A film for a wide audience in nine chapters. Two hours 
    of maths, that take you gradually up to the fourth dimension. Mathematical 
    vertigo guaranteed!</p>
</div>

<div class="clear">
    <img class="clear left icon" src="/static/img/math-jos.png" />
    <p><a href="http://www.josleys.com/index.php">Jos Leys</a>: More images by 
    one of the people responsible for the Dimensions films.</p>
</div>

<div class="clear">
    <img class="left icon" src="/static/img/math-beth.png" />
    <p><a href="http://www.bathsheba.com/">Bathsheba Grossman</a>: The art of 
    geometry. Stunning 3D printed metal sculptures and laser etched crystals.</p>
</div>

<div class="clear">
    <img class="clear left icon" src="/static/img/math-anti.png" />
    <p><a href="http://www.antiprism.com/">Antiprism</a>: Open source polyhedron 
    modelling software. Create, transform, analyse, and visualise polyhedra.</p>
</div>


<!--div class="clear">
    <img class="clear left icon" src="/static/img/.png" />
    <p><a href=""></a>: </p>
</div-->
